#paragrafo {
    color: blue;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

#bloco {
    background-color: lightgray;
    padding: 10px;
}

.lista-links {
    list-style-type: none;
}

.link-estilizado {
    text-decoration: none;
    color: rgb(35, 20, 163);
    font-weight: bold;
}