
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


#hcb {
    background-color: rgb(12, 67, 85);
    color: rgb(28, 236, 0);
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}


.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 200px;
    background: rgb(1, 241, 1);
    border: 1px solid black;
}

.menu ul li {
    color: black;
    padding: 10px;
    border-bottom: 1px solid black;
}


.texto {
    margin-left: 220px;
}


.tabela {
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
}

.tabela:hover {
    background-color: lightyellow;
}

button {
    background-image: url('imagem.png');
    background-color: lightblue;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.rodape {
    background: lightgray;
    color: black;
    text-align: center;
}

.rodape:hover {
    background: rgb(11, 252, 3);
}
